@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(41,50,65);
    background: linear-gradient(to left, rgba(41,50,65,1) 0%, rgba(155,168,192,1) 100%);
}